* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first-div {
    width: 1200px;
    background-color: #343a40;
    color: white;
    padding: 10px 56px;
    font-weight: bold;
}

.first-div i {
    width: 1200px;

    background-color: #343a40;
    color: white;

}

.second-div {
    width: 1200px;
    text-align: center;
    padding: 50px;
    background-color: #ffffff;
    padding-bottom: 45px;
}

.second-div h3 {
    font-weight: lighter;
    font-size: 25px;

}

.second-div p {
    padding-top: 8px;
    padding-bottom: 13px;
}

.second-div .button1 {
    background-color: #027bff;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 3px;

}

.second-div .button2 {
    background-color: #6c757d;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 3px;
}

.parent {
    width: 1200px;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.third-div {
    position: relative;
    width: 320px;
    box-shadow: 1px 1px 13px 0px rgba(79, 79, 79, 0.75);
    background-color: white;
    margin: 10px;
    margin-top: 15px;
    margin-bottom: 15px;

}

.third-div img {
    width: 100%;
    margin-bottom: 5px;
}

.third-div button {
    padding: 3px;
    border-radius: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.third-div p {
    padding-left: 15px;
}

.third-div span {
    position: absolute;
    left: 255px;
    bottom: 15px;
}